body {
  margin: 0 auto;
  background-color: rgb(0, 110, 255);
  font-size: 20px;
  border-radius: 5px;
}
header {
  display: flex;
  justify-content: space-between;
  background: rgba(0, 60, 255, 0.692);
  color: aliceblue;
  padding: 0 150px;
}
.header-logo {
  display: flex;
  border-bottom: 1px solid;
  border-radius: 50%;
}

.header-right {
  display: flex;
}
.header-right:hover {
  cursor: pointer;
}
.questionform {
  border: 2px solid white;
  width: 150px;
  text-align: center;
  background: rgb(60, 60, 255);
  line-height: 60px;
}
.answerform {
  border: 2px solid white;
  width: 150px;
  text-align: center;
  background: rgb(253, 83, 83);
  line-height: 60px;
}
main {
  width: 70%;
}
aside {
  width: 28%;
}
.form {
  border: 2px solid black;
  border-radius: 5px;
  padding: 50px 100px;
  position: relative;
  background: white;
  margin: 50px 20px 20px 100px;
}
.form h1 {
  background: rgb(55, 55, 238);
  color: aliceblue;
  padding: 15px;
  border-radius: 5px;
}
textarea {
  width: 500px;
  height: 250px;
  border-radius: 5px;
}

.question {
  padding: 15px 0;
}
.job {
  display: flex;
  padding: 10px 0;
}
.searchbutton {
  display: block;
}
.name {
  padding: 15px 0;
}
.paerson {
  padding: 15px 0;
}
.response {
  padding: 15px 0;
}
.old {
  display: flex;
  padding: 15px 0;
}
.radioarea {
  padding-left: 200px;
}
.radio:nth-child(1) {
  padding-left: 100px;
}
.t {
  width: 200px;
  height: 25px;
  border-radius: 5px;
  position: absolute;
  left: 350px;
}
.container {
  display: flex;
  justify-content: space-between;
}
button {
  background: rgb(204, 204, 204);
  border: none;
  border-radius: 5px;
  width: 180px;
  height: 60px;
  margin-top: 90px;
}
.submit {
  color: white;
  background: rgb(44, 106, 155);
  margin-right: 15px;
}
.doublecontet {
  display: flex;
  justify-content: space-between;
}
.sidecontent {
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  position: relative;
  background: white;
  margin: 50px 50px 100px 0;
}
.menu li {
  list-style: none;
  padding: 5px 0;
}
.sidecontent h3 {
  background: rgb(55, 55, 238);
  color: aliceblue;
  padding: 15px 30px;
  margin-top: 80px;
  border-radius: 5px;
}
.say button {
  background: rgb(252, 103, 35);
  font-size: 1.5rem;
  border-radius: 5px;
  padding: 5px;
  margin: 10px auto;
  padding: 10px;
  cursor: pointer;
}
.saerb button {
  background: rgb(168, 255, 54);
  font-size: 1.5rem;
  border-radius: 5px;
  padding: 5px;
  margin: 10px auto;
  padding: 10px;
  cursor: pointer;
}
.rari button {
  background: rgb(255, 129, 234);
  font-size: 1.5rem;
  border-radius: 5px;
  padding: 5px;
  margin: 10px auto;
  padding: 10px;
  cursor: pointer;
}
.catch button {
  background: rgb(224, 228, 31);
  font-size: 1.5rem;
  border-radius: 5px;
  padding: 5px;
  margin: 10px auto;
  padding: 10px;
  cursor: pointer;
}
.path button {
  background: rgb(157, 160, 151);
  font-size: 1.5rem;
  border-radius: 5px;
  padding: 5px;
  margin: 10px auto;
  padding: 10px;
  cursor: pointer;
}
